<h2>Customers</h2>
<div class="row">
    <div class="col-md-8">
        <table class="table table-condensed table-hover">
            <thead>
                <th>Customer Name and Id</th>
                <th>Associated Products</th>
            </thead>
            <tbody>
                <tr>
                    <td>Name - id</td>
                    <td>Product</td>
                </tr><tr>
                    <td>Name - id</td>
                    <td>Product</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4"></div>
</div>